openapi: 3.2.0
info:
  version: 1.0.0
  title: Subskribe AI Summary API
servers:
- url: https://api.app.subskribe.com
security:
- ApiKeyAuth: []
tags:
- name: AI Summary
paths:
  /ai/explain/proration/async/{orderId}/{orderLineItemId}:
    get:
      tags:
      - AI Summary
      summary: Generate an explanation of the proration calculation
      description: Generate an explanation of the proration calculation for the given order line item.
      operationId: explainProrationAsync
      parameters:
      - name: orderId
        in: path
        description: id of the order
        required: true
        schema:
          type: string
      - name: orderLineItemId
        in: path
        description: id of the order line item
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            text/event-stream:
              schema:
                type: string
            application/json:
              schema:
                type: string
  /ai/explain/proration/{orderId}/{orderLineItemId}:
    get:
      tags:
      - AI Summary
      summary: Generate an explanation of the proration calculation
      description: Generate an explanation of the proration calculation for the given order line item.
      operationId: explainProration
      parameters:
      - name: orderId
        in: path
        description: id of the order
        required: true
        schema:
          type: string
      - name: orderLineItemId
        in: path
        description: id of the order line item
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: string
  /ai/summary/order/{orderId}:
    get:
      tags:
      - AI Summary
      summary: Generate a summary of the order in plain english in markdown format
      description: Generate a complete summary of the order with the given id, a full detailed summary will be generated including metrics
      operationId: generateOrderSummary
      parameters:
      - name: orderId
        in: path
        description: id of the order
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: Force regeneration of the PDF document even if there has been no changes. Defaults to false.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            text/event-stream:
              schema:
                type: string
            application/json:
              schema:
                type: string
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
