openapi: 3.2.0
info:
  version: 1.0.0
  title: Subskribe Documents API
servers:
- url: https://api.app.subskribe.com
security:
- ApiKeyAuth: []
tags:
- name: Documents
paths:
  /predefinedTerms:
    get:
      tags:
      - Documents
      summary: Get predefined terms
      description: Returns predefined terms by type. These templates can be attached to orders as part of PDF document generation.
      operationId: getDocumentTemplates
      parameters:
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - ORDER
          - INVOICE
          - INVOICE_EMAIL
          - CREDIT_MEMO
          - EMAIL
          - UPSELL_EARLY_RENEWAL
          - DUNNING
          - CANCEL_AND_RESTRUCTURE
          - ESIGN
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTemplateJson'
    post:
      tags:
      - Documents
      summary: Add new predefined terms
      description: Add a new predefined terms that can be attached to an order as part of PDF document generation.
      operationId: addDocumentTemplate
      requestBody:
        $ref: '#/components/requestBodies/DocumentTemplateRequestJson'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: string
  /predefinedTerms/{id}/versions:
    get:
      tags:
      - Documents
      summary: Get predefined terms versions
      description: Returns predefined terms versions by Id.
      operationId: getDocumentTemplateVersions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTemplateJson'
  /predefinedTerms/{id}:
    get:
      tags:
      - Documents
      summary: Get predefined terms detail
      description: Returns a specific predefined terms by Id.
      operationId: getDocumentTemplate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTemplateJson'
    put:
      tags:
      - Documents
      summary: Update predefined terms
      description: Updates a predefined terms
      operationId: updateDocumentTemplate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/DocumentTemplateRequestJson'
      responses:
        default:
          description: successful operation
    delete:
      tags:
      - Documents
      summary: Delete predefined terms
      description: Deletes the predefined terms specified.
      operationId: deleteDocumentTemplate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTemplateJson'
  /predefinedTerms/{id}/status/{status}:
    put:
      tags:
      - Documents
      summary: Update predefined terms status
      description: Updates the status of a predefined terms
      operationId: updateDocumentTemplateStatus
      parameters:
      - name: id
        in: path
        description: id of the predefined terms
        required: true
        schema:
          type: string
      - name: status
        in: path
        description: new status to set
        required: true
        schema:
          type: string
          enum:
          - DRAFT
          - ACTIVE
          - DEPRECATED
      responses:
        default:
          description: successful operation
  /predefinedTerms/{id}/versions/{version}:
    get:
      tags:
      - Documents
      summary: Get predefined terms version detail
      description: Returns a specific predefined terms by Id and version.
      operationId: getDocumentTemplateVersion
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTemplateJson'
components:
  requestBodies:
    DocumentTemplateRequestJson:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentTemplateRequestJson'
  schemas:
    DocumentTemplateJson:
      type: object
      required:
      - type
      properties:
        id:
          type: string
        entityIds:
          type: array
          uniqueItems: true
          items:
            type: string
        name:
          type: string
        sectionUuid:
          type: string
        type:
          type: string
          enum:
          - ORDER
          - INVOICE
          - INVOICE_EMAIL
          - CREDIT_MEMO
          - EMAIL
          - UPSELL_EARLY_RENEWAL
          - DUNNING
          - CANCEL_AND_RESTRUCTURE
          - ESIGN
        description:
          type: string
        content:
          type: string
        status:
          type: string
          enum:
          - DRAFT
          - ACTIVE
          - DEPRECATED
        isUserSelectable:
          type: boolean
        version:
          type: integer
          format: int32
        hasNewerVersion:
          type: boolean
    DocumentTemplateRequestJson:
      type: object
      required:
      - type
      properties:
        id:
          type: string
        entityIds:
          type: array
          uniqueItems: true
          items:
            type: string
        name:
          type: string
        sectionUuid:
          type: string
        type:
          type: string
          enum:
          - ORDER
          - INVOICE
          - INVOICE_EMAIL
          - CREDIT_MEMO
          - EMAIL
          - UPSELL_EARLY_RENEWAL
          - DUNNING
          - CANCEL_AND_RESTRUCTURE
          - ESIGN
        description:
          type: string
        content:
          type: string
        status:
          type: string
          enum:
          - DRAFT
          - ACTIVE
          - DEPRECATED
        isUserSelectable:
          type: boolean
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
